footer {

  // center divs in the footer
  display: flex;
  flex-direction: row;
  justify-content: center;

  // if overflow, wrap divs
  flex-wrap: wrap;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $col-bg-muted;

  h2 {
    text-decoration: underline;

    font-size: 1.1em;
    font-weight: 600;
  }

  .info {
    max-width: 375px;
  }

  .copywright {
    padding-top: 0;

    span a {
      font-size: 1em;
      font-weight: 400;
    }
  }

  .misc {
    padding-top: 0;
    padding-bottom: 0;
  }

  div {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    width: 85%;
  }

  .link_list {
    ul {
      list-style-type: disc;

      font-size: 0.9em;
      font-weight: 300;
    }
  }

  // if less than 500px, flex to column
  @media (max-width: 500px) {
    flex-direction: column;

    .link_list {
      padding: 10%;

      padding-top: 10px;
      padding-bottom: 10px;
    }

    .info {
      width: auto;

      p {
        width: 100%;
      }
    }
  } 
}