@import '../colours.scss';


main {

  #error_main {
    width: 100%;
  }

  .markdown_title {

    padding-top: 10px;
    padding-bottom: 25px;

    h1 {
      font-size: 2em;
      font-weight: 600;
      text-decoration: none;

      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      font-size: 1em;
      font-weight: 500;
      text-decoration: none;

      padding-top: 0;
      padding-bottom: 0;

      em {
        padding-left: 5px;
        font-size: 0.9em;
        font-weight: 300;
      }
    }

    p {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a {
      text-decoration: none;
    }
  }

  markdown {

    max-width: 700px;


    blockquote {
      border-left: 2.5px solid $col-mono-5;

      margin-top: 10px;
      margin-bottom: 10px;

      padding-left: 10px;
      margin-left: 5px;
    }

    h1 {
      text-decoration: underline;

      font-size: 1.5em;
      font-weight: 600;

      padding-bottom: 25px;
    }

    h2 {
      text-decoration: underline;

      font-size: 1.3em;
      font-weight: 600;

      padding-top: 20px;
      padding-bottom: 10px;
    }

    h3 {
      text-decoration: underline;

      font-size: 1.2em;
      font-weight: 600;

      padding-top: 15px;
      padding-bottom: 5px;
    }

    h4 {
      text-decoration: underline;

      font-size: 1.1em;
      font-weight: 500;

      padding-top: 5px;
      padding-bottom: 2.5px;
    }

    p {
      font-size: 0.9em;
      font-weight: 300;

      em {
        font-style: italic;

        font-size: 0.9em;
        font-weight: 300;
      }
    }

    ul {
      list-style-type: disc;

      padding-left: 15px;

      li {
        font-size: 0.9em;
        font-weight: 300;
      }
    }

    ol {
      list-style-type: decimal;

      padding-left: 30px;

      li {
        font-size: 0.9em;
        font-weight: 300;
      }
    }
  }

}