@import '../colours.scss';

markdown {

  max-width: 700px;

  blockquote {
    border-left: 2.5px solid $col-mono-5;

    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 10px;
    margin-left: 5px;
  }

  h1 {
    text-decoration: underline;

    font-size: 1.5em;

    padding-bottom: 5px;
  }

  h2 {
    text-decoration: underline;

    padding-top: 15px;
    padding-bottom: 5px;
  }

  h3 {
    text-decoration: underline;

    padding-top: 10px;
    padding-bottom: 5px;
  }

  p {
    font-size: 0.9em;
    font-weight: 300;

    em {
      font-style: italic;

      font-size: 0.9em;
      font-weight: 300;
    }
  }

  ul {
    list-style-type: disc;

    padding-left: 15px;

    li {
      font-size: 0.9em;
      font-weight: 300;
    }
  }

  ol {
    list-style-type: decimal;

    padding-left: 30px;

    li {
      font-size: 0.9em;
      font-weight: 300;
    }
  }
}