@import '../colours.scss';


main {

  #error_main {
    width: 100%;
  }

  .markdown_title {

    padding-top: 10px;
    padding-bottom: 25px;

    h1 {
      font-size: 2em;
      font-weight: 600;
      text-decoration: none;

      padding-top: 0;
      padding-bottom: 0;

      span {
        padding-right: 7.5px;
      }

      i {
        padding-left: 2.5px;
        font-size: 0.75em;

        color: $col-bg-default;
        transition: color 0.1s;

        cursor: default;
      }

      &:hover {
        i {
          color: $col-fg-accent;
          transition: color 0.1s;

          cursor: pointer;
        }
      }
    }

    h2 {
      font-size: 1em;
      font-weight: 500;
      text-decoration: none;

      padding-top: 0;
      padding-bottom: 0;

      em {
        padding-left: 5px;
        font-size: 0.9em;
        font-weight: 300;
      }
    }

    p {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a {
      text-decoration: none;
    }
  }

  .md_title {
    .md_title_text {
      padding-left: 5px;
      padding-right: 5px;
    }

    .md_title_icon {
      padding-left: 2.5px;

      font-size: 0.75em;

      color: $col-bg-default;
      transition: color 0.1s;

    }

    a {
      text-decoration: none;
      cursor: default;
    }

    &:hover {
      .md_title_icon {
        color: $col-fg-accent;
        transition: color 0.1s;
      }

      a {
        // set cursor to pointer
        cursor: pointer;
      }
    }
  }
  markdown {

    max-width: 700px
  }
}