main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 0px;

  #blog_main {
    box-sizing: border-box;
    
    padding: 2.5%;

    max-width: 700px;
    min-height: 60vh;

    .blog_search {
      form {
        // make search bar darker than background
        padding: 10px;
        background-color: $col-bg-muted;

        border: 2px;
        border-radius: 5px;

        input {
          min-width: 175px;

          // no border
          border: 0px;
          background-color: $col-bg-muted;
        }
      }
    }

    .blog_posts {
        
      .blog_post {
        h2 {
          font-size: 1.5em;
          font-weight: 600;

          a {
            text-decoration: none;
            transition: 0.1s;

            color: $col-fg-default;
            transition: 0.1s;
          }

          i {
            font-size: 0.8em;
            font-weight: 300;
            
            color: $col-bg-default;
            transition: 0.1s;
          }

          .blog_post_title {
            text-decoration: underline;
            text-decoration-style: wavy;
            
            color: $col-fg-accent;
          }

          .blog_post_hash {
            color: $col-mono-4;
          }

          &:hover {

            // i {
            //   color: $col-fg-accent;
            //   transition: 0.1s;
            // }

            // .blog_post_hash {
            //   color: $col-mono-4;
            //   transition: 0.1s;
            // }

            .blog_post_title {
              // set underline to solid
              text-decoration-style: solid;
              transition: 0.1s;
            }
          }
        }

        h3 {
          font-size: 0.8em;
          font-weight: 300;

          padding: 0;
          padding-top: 5px;
        }

        &:hover {

          h2 {
            a {
              color: $col-fg-accent;
              transition: 0.1s;
              i {
                // TODO: fix css bug
                color: $col-fg-default;
                transition: 0.1s;
              }
            }
          }
        }
      }
    }
  }
}