@import 'colours.scss';

main {
  // width: $size-main-w; // for some reason, this doesn't work on win lol
  min-height: 70vh;

  background-color: $col-bg-default;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;

  padding-bottom: 25px;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;

  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;

  padding-top: 15px;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.1em;
  font-weight: 500;

  padding-top: 5px;
  padding-bottom: 2.5px;
}

h5 {
  font-size: 1.0em;
  font-weight: 400;
}

h6 {
  font-size: 0.9em;
  font-weight: 400;
}

a {
  // font-size: 0.9em;
  // font-weight: 300;

  color: $col-fg-accent;

  transition: color 0.1s;

  text-decoration: underline;
  text-decoration-style: wavy;
  
  transition: text-decoration-style 0.1s;

  // on hover, make line straight in 0.1s 
  &:hover {
    text-decoration-style: solid;
    transition: text-decoration-style 0.1s;

    color: $col-light-4;
    transition: color 0.1s;
  }

  // on click, remove the underline and change to white
  &:active {
    text-decoration: none;
    color: $col-mono-1;
  }
}

span {
  font: inherit;
}

blockquote {
  border-left: 2.5px solid $col-mono-5;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 10px;
  margin-left: 5px;
}

p {
  font-size: 0.9em;
  font-weight: 300;

  em {
    font-style: italic;

    font-size: 0.9em;
    font-weight: 300;
  }
}

ul {
  list-style-type: disc;

  padding-left: 15px;

  li {
    font-size: 0.9em;
    font-weight: 300;
  }
}

ol {
  list-style-type: decimal;

  padding-left: 30px;

  li {
    font-size: 0.9em;
    font-weight: 300;
  }
}

i {
  font-style: normal;
}