// Monochrome colours
$col-mono-1:          hsl(220,   11%,  71%);
$col-mono-2:          hsl(220,   10%,  62%);
$col-mono-3:          hsl(220,    8%,  54%);
$col-mono-4:          hsl(220,    9%,  45%);
$col-mono-5:          hsl(221,   11%,  38%);
$col-mono-6:          hsl(219,   12%,  28%);
$col-mono-7:          hsl(220,   13%,  18%);
$col-mono-8:          hsl(222,   15%,  13%);

// Lighter Colours
$col-light-1:         hsl(0, 80%, 80%);
$col-light-2:         hsl(13, 77%, 76%);
$col-light-3:         hsl(34, 65%, 73%);
$col-light-4:         hsl(96, 21%, 72%);
$col-light-5:         hsl(187, 41%, 65%);
$col-light-6:         hsl(207, 50%, 68%);
$col-light-7:         hsl(233, 45%, 71%);
$col-light-8:         hsl(286, 48%, 72%);

// Normal Colours
$col-normal-1:        hsl(0, 79%, 64%);
$col-normal-2:        hsl(13, 69%, 64%);
$col-normal-3:        hsl(34, 72%, 64%);
$col-normal-4:        hsl(96, 40%, 65%);
$col-normal-5:        hsl(187, 50%, 47%);
$col-normal-6:        hsl(187, 50%, 47%);
$col-normal-7:        hsl(233, 60%, 67%);
$col-normal-8:        hsl(286, 57%, 65%);

// Darker Colours
$col-dark-1:          hsl(0, 87%, 59%);
$col-dark-2:          hsl(13, 83%, 58%);
$col-dark-3:          hsl(34, 82%, 59%);
$col-dark-4:          hsl(96, 38%, 49%);
$col-dark-5:          hsl(187, 63%, 38%);
$col-dark-6:          hsl(207, 87%, 48%);
$col-dark-7:          hsl(233, 74%, 59%);
$col-dark-8:          hsl(286, 67%, 58%);

// pre-defined colours for UI, DARK MODE

// Foreground Colours
$col-fg-default:        $col-mono-1;
$col-fg-muted:          $col-mono-2;
$col-fg-subtle:         $col-mono-2;
$col-fg-onemph:         $col-mono-1;

$col-fg-accent:         $col-normal-4;
$col-fg-success:        $col-normal-4;
$col-fg-attention:      $col-normal-2;
$col-fg-danger:         $col-normal-1;
$col-fg-open:           $col-normal-4;
$col-fg-done:           $col-normal-5;
$col-fg-closed:         $col-normal-1;
$col-fg-done:           $col-normal-8;

// Emphasis Colours

$col-emph-default:      $col-mono-2;
$col-emph-muted:        $col-mono-3;
$col-emph-subtle:       $col-mono-3;
$col-emph-onemph:       $col-mono-1;

$col-emph-accent:       $col-normal-4;
$col-emph-success:      $col-normal-4;
$col-emph-attention:    $col-normal-2;
$col-emph-danger:       $col-normal-1;
$col-emph-open:         $col-normal-4;
$col-emph-done:         $col-normal-5;
$col-emph-closed:       $col-normal-1;
$col-emph-done:         $col-normal-8;


// Background Colours

$col-bg-default:        $col-mono-7;
$col-bg-muted:          $col-mono-8;
$col-bg-subtle:         $col-mono-8;
$col-bg-onemph:         $col-mono-1;

$col-bg-accent:         $col-dark-4;
$col-bg-success:        $col-dark-4;
$col-bg-attention:      $col-dark-2;
$col-bg-danger:         $col-dark-1;
$col-bg-open:           $col-dark-4;
$col-bg-done:           $col-dark-5;
$col-bg-closed:         $col-dark-1;
$col-bg-done:           $col-dark-8;

// Border Colours

$col-border-default:    $col-mono-7;
$col-border-muted:      $col-mono-8;
$col-border-subtle:     $col-mono-7;
$col-border-onemph:     $col-mono-1;

$col-border-accent:     $col-normal-4;
$col-border-success:    $col-normal-4;
$col-border-attention:  $col-normal-2;
$col-border-danger:     $col-normal-1;
$col-border-open:       $col-normal-4;
$col-border-done:       $col-normal-5;
$col-border-closed:     $col-normal-1;
$col-border-done:       $col-normal-8;



