---
import Error from "../layouts/Error.astro"

---

<Error code="404" title="Page Not Found">
  Sorry, the page `<code>{Astro.url}</code>` does not exist, 
  Click <a href="/">here</a> to go back to the homepage.
</Error>