---
// import Error from "../components/Error.astro"; //! TODO: sort this out
import Error from "../components/Error.astro";
import Boilerplate from "../layouts/Boilerplate.astro";

const keywords: string[] = []

---

<Boilerplate title="404" description="Page not found" keywords={keywords}>
  <Error code="404">
    <p class="text-xl p-250">
      Sorry, the page `<code>{Astro.url}</code>` does not exist, 
      Click <a href="/">here</a> to go back to the homepage.
    </p>
  </Error>
</Boilerplate>