---
import Boilerplate from "../layouts/Boilerplate.astro";

import Exec from "../components/compound/Exec.astro";

import TextTyper from "../components/dynamic/TextTyper.svelte";

const keywords = [
  "hull",
  "computer",
  "science",
  "society",
  "hcss",
  "hcssoc",
  "hull",
  "university",
  "students",
  "student",
  "union",
  "hull",
  "css",
  "society",
  "computer",
];
---

<Boilerplate
  title="Hull Computer Science Society"
  description="This is the Hull Computer Science Society website."
  keywords={keywords}
  header={true}
  footer={true}
>
  <div id="landing_main">
    <div class="about">
      <h1>
        <TextTyper text="HullCSS Former Execs" client:visible />
      </h1>
      <p>
        here is a list of all the former execs for HullCSS, if you were a former
        exec and would like to be added/removed from this list, please either
        reach out to us on discord or send us an email.
      </p>
    </div>

    <div class="execs">
      <h2>Meet the Team (2024-2025): </h2>

      <Exec
        title="President"
        name="Rand Nessif"
        pronouns="she/her"
        gh="RandMN05"
        img="2024/rand.webp"
      >
        Hi , my name is Rand Nessif , i am the president of University of Hull
        computer science society for 24/25 academic year. I am in 2nd year and i
        am doing computer science with game development as i really enjoy coding
        In C# and C++. I really enjoy coding and the challanges of it. Outside
        of computer science , I really enjoy dancing , I am a dance teacher and
        ive been dancing for 9 years. Please feel free to contact me via discord
        if you have any questions.
      </Exec>

      <Exec
        title="Vice President"
        name="Alex (mello) Sparkes"
        pronouns="he/him"
        gh="alexsparkes"
        img="2024/alex.webp"
      >
        Hi, I'm Alex, the Vice President for the 24/25 executive committee. As a
        passionate developer, I created Mue Tab, a new tab extension for more
        personalisation. When I'm not working on projects, you can find me
        playing games with my friends and playing football. Feel free to reach
        out on Discord!! Excited for the year to come
      </Exec>

      <Exec
        title="Treasurer"
        name="Eirika Doe"
        pronouns="she/her"
        gh="EirikaDoesntCode"
        img="2024/eirika.webp"
      >
        Hey, I'm Eirika, I'm a 2nd year comp sci student and treasurer for the
        year. I'll be making sure the society doesn't go broke ✨ Term time I'll
        usually be somewhere on campus spacing out instead of studying, but feel
        free to reach out if you'd like help with anything.
      </Exec>

      <Exec
        title="Social Secretary"
        name="Jack Shanks"
        pronouns="he/him"
        gh="jackshanks"
        img="2024/jack.webp"
      >
        Heyo, fellow code ninjas! 🎉 I'm Jack Shanks, a second-year computer
        science student and your ultimate tech geek for the 24/25 committee.
        When I'm not battling bugs in my code, you can catch me binge-watching
        rick and morty, levelling up in video games, and dreaming about the
        perfect algorithm. 🚀 I'm here to make sure our society is the most epic
        place to be! Whether it's organizing LAN parties or finding the best
        pizza for hackathons, I'm your go-to guy. 🍕👾 Ready to dive into the
        digital world and have a blast? Hit me up on Discord! Let's make this
        year legendary! 💾✨
      </Exec>

      <Exec
        title="Webmaster"
        name="Ash"
        pronouns="she/they"
        gh="ash-entwisle"
        img="ash.png"
      >
        Hi, I'm Ash. A second year Computer Science student and your webmaster
        for this year. Its my job to make sure the website stays up and running.
        I'm a big fan of Linux, FOSS, Rust and Blue Ikea Sharks <i
          >(BLÅHAJ my beloved)</i
        >. Feel free to message me on discord if you need a hand with anything.
      </Exec>

      <Exec
        title="Social Media Manager"
        name="Bailey"
        pronouns="he/him"
        github="TheOnlyBailey"
        img="2024/bailey.webp"
      >
        Hi, I'm Bailey, a 2nd year Computer Science student and this years
        social media coordinator. I spend the majority of my time playing video
        games. I can't wait to meet you all and if you need to contact me you
        can message me on discord
      </Exec>
    </div>

    <div class="execs">
      <h2>Meet the Team (2023-2024):</h2>

      <Exec
        title="President"
        name="Zoe"
        pronouns="she/her"
        gh="zoeelen"
        img="2023/zoe.webp"
      >
        Hi! I'm Zoe, a 2nd year Computer Science student and HullCSS's 23/24
        committee President. My main interest academically is Artificial
        Intelligence, particularly NLP. In my free time, I love playing board
        games with my friends and I'm also the Social Media Coordinator for the
        Board Games Society this year. If you have any questions or need any
        help, message me on discord :)
      </Exec>

      <Exec 
        title="Secretary" 
        name="Will" 
        pronouns="he" 
        gh="" 
        img="2023/will.png"
      >
        Hey! I'm Will and I am a second year computer science student on the
        year industry course. I am the secretary for this year meaning I will be
        ensuring that our society communicates well with other societies and
        opportunities so that fun and memorable events can take place! I hope
        everyone has a great and if you ever need to reach out you can reach me
        on the discord :).
      </Exec>

      <Exec
        title="Treasurer"
        name="Alex"
        pronouns="he/him"
        gh="alex8obrien"
        img="2023/alex.png"
      >
        Hi, I'm Alex the treasurer for the 23/24 executive committee. My role is
        to manage the society finances and ensure we can afford to run fun
        events throughout the year. In my spare time, I like to work on my
        personal projects including my website and public libraries. I can't
        wait to meet you all and enjoy the year with HullCSS.
      </Exec>

      <Exec
        title="Social Secretary"
        name="Aren"
        pronouns="he/him"
        gh="arenmarsden"
        img="2023/aren.png"
      >
        Hi, I'm Aren and I'm 21 year old Computer Science Student. I'm the
        Social Secretary of HullCSS. I'm fairly focused on DevOps Engineering at
        the moment, but also interested in Application Security and
        CyberSecurity.. In my spare time, you'll find me playing video games or
        working on personal projects.
      </Exec>

      <Exec
        title="Webmaster"
        name="Ash"
        pronouns="she/they"
        gh="ash-entwisle"
        img="2023/ash.png"
      >
        Hi, I'm Ash. A second year Computer Science student and your webmaster
        for this year. Its my job to make sure the website stays up and running.
        I'm a big fan of Linux, FOSS, Rust and Blue Ikea Sharks <i
          >(BLÅHAJ my beloved)</i
        >. Feel free to message me on discord if you need a hand with anything.
      </Exec>
    </div>

    <div class="events" id="events">
      <h2>Recent Events:</h2>
    </div>
  </div>
</Boilerplate>
