---
import Boilerplate from "../layouts/Boilerplate.astro";

import Exec from "../components/compound/Exec.astro";

import TextTyper from "../components/dynamic/TextTyper.svelte";

const keywords = [
  "hull",
  "computer",
  "science",
  "society",
  "hcss",
  "hcssoc",
  "hull",
  "university",
  "students",
  "student",
  "union",
  "hull",
  "css",
  "society",
  "computer",
];
---

<Boilerplate
  title="Hull Computer Science Society"
  description="This is the Hull Computer Science Society website."
  keywords={keywords}
  header={true}
  footer={true}
>
  <div id="landing_main">
    <div class="about">
      <h1>
        <TextTyper text="Welcome to #HullCSS" client:visible />
      </h1>
      <p>
        We're dedicated to enhancing your university experience with engaging
        discussions, socials, study sessions, and talks. Whether you're a
        seasoned coder, beginner, or tech enthusiast - studying Computer Science
        or not - feel free to join our inclusive and friendly community on
        Discord.
      </p>
    </div>

    <div class="execs">
      <h2>Meet the Team:</h2>

      <Exec
        title="President"
        name="Zoe"
        pronouns="she/her"
        gh="zoeelen"
        img="2025/zoe.jpg"
      >
        Hey, I'm Zoe and I'm the President of HullCSS! I'm in the final year of
        my Computer Science (with Industrial Placement) degree. My placement
        year was at Phillips 66, where I worked as an IT analyst. Academically,
        I have a lot of interest in AI and how it can be applied in real-world
        contexts such as healthcare. In my free time, I love baking and playing
        board games. If you have any questions about the society or just want to
        chat, feel free to reach out :)
      </Exec>

      <Exec
        title="Vice President"
        name="Harvey"
        pronouns="he"
        gh=""
        img="2025/lemon.png"
      >
        Hi I'm harvey, I am the Vice president of the society for upcoming year,
        I'm a software engineering student going into my final year of my
        integrated masters. I focus primarily on C# and RESTful api's along with
        basic frontend development. Message if you need anything, I'm always
        down to help.
      </Exec>

      <Exec
        title="Treasurer"
        name="Alex"
        pronouns="he/him"
        gh="alex8obrien"
        img="2023/alex.png"
      >
        Hi, I'm Alex O'Brien the treasurer for the 25/26 executive committee. My
        role is to manage the society finances and ensure we can afford to run
        fun events throughout the year. I'm a 3rd year Software Engineering
        student and have previously been on a year in industry working at BAE
        Systems. In my spare time, I like to work on my personal projects and
        new creative business ideas. I can't wait to meet you all and enjoy the
        year with HullCSS.
      </Exec>

      <Exec
        title="Social Secretary"
        name="Will"
        pronouns="he/him"
        gh=""
        img="2025/will.png"
      >
        hi I'm will, I'm the social sec of CSS, so I plan out all the socials!
        I'm a massive nerd and like lego, Star Wars, gaming, as well as a
        seasoned bartender
      </Exec>

      <Exec
        title="Webmaster"
        name="Ash"
        pronouns="she/they"
        gh="ash-entwisle"
        img="2023/ash.png"
      >
        Hi, I'm Ash. A Third year Computer Science student and your webmaster
        for this year. Its my job to make sure the website stays up and running.
        I'm a big fan of Linux, FOSS, Rust and Blue Ikea Sharks <i
          >(BLÅHAJ my beloved)</i
        >. Feel free to message me on discord if you need a hand with anything.
      </Exec>

      <Exec
        title="Social Media Coordinator"
        name="Andrew"
        pronouns="he/him"
        gh=""
        img="2025/crab.png"
      >
        Heya, I'm Andrew, a fourth year Computer Science Software Engineering
        student and your Social Media Coordinator for this year :). I'll be
        managing all our social media sites, keeping you updated with all the
        socials we've got planned and everything Comp Sci adjacent. I'm a huge
        gamer and I'm involved with societies a little too much so if you see me
        around, chances are I'm lending a hand with another I'm on the committee
        for. Anyway, feel free to shoot me a message on Discord or any of our
        social channels if you've got a question or need help. I'm really
        excited for the year ahead and meeting you all!
      </Exec>
    </div>
  </div>
</Boilerplate>
