---
import Boilerplate from "../layouts/Boilerplate.astro";

import Exec from "../components/compound/Exec.astro";
import EmailForm from "../components/compound/EmailForm.astro";

import Center from "../components/base/Center.astro";

import TextTyper from "../components/dynamic/TextTyper.svelte";

const keywords = [
	"hull", "computer", "science", "society", "hcss", 
	"hcssoc", "hull", "university", "students", "student", 
	"union", "hull", "css", "society", "computer", 
]
---

<Boilerplate
	title="Hull Computer Science Society"
  description="This is the Hull Computer Science Society website."
	keywords={keywords}
	header={true}
	footer={true}
>
	<div id="landing_main">

	<div class="about">
		<h1>
			<TextTyper text="Welcome to #HullCSS" client:visible />
		</h1>
		<p> 
			We're dedicated to enhancing your university experience with engaging discussions, socials, study sessions, and talks. 
			Whether you're a seasoned coder, beginner, or tech enthusiast - studying Computer Science or not - 
			feel free to join our inclusive and friendly community on Discord.
		</p>
	</div>

	<div class="execs">
		<h2>Meet the Team: </h2>

		<Exec
				title="President"
				name="Zoe"
				pronouns="she/her"
				gh="zoeelen"
				img="zoe.png"
		>
				Hi! I'm Zoe, a 2nd year Computer Science student and HullCSS's 23/24 committee President. 
				My main interest academically is Artificial Intelligence, particularly NLP. 
				In my free time, I love playing board games with my friends and 
				I'm also the Social Media Coordinator for the Board Games Society this year. 
				If you have any questions or need any help, message me on discord :)
		</Exec>

		<Exec
				title="Secretary"
				name="Will"
				pronouns="he"
				gh=""
				img="will.png"
		>
			Hey! I'm Will and I am a second year computer science student on the year industry course. 
			I am the secretary for this year meaning I will be ensuring that our society communicates well with other societies 
			and opportunities so that fun and memorable events can take place! 
			I hope everyone has a great and if you ever need to reach out you can reach me on the discord :).
		</Exec>

		<Exec
				title="Treasurer"
				name="Alex"
				pronouns="he/him"
				gh="alex8obrien"
				img="alex.png"
		>
			Hi, I'm Alex the treasurer for the 23/24 executive committee. 
			My role is to manage the society finances and ensure we can afford to run fun events throughout the year. 
			In my spare time, I like to work on my personal projects including my website and public libraries. 
			I can't wait to meet you all and enjoy the year with HullCSS.
		</Exec>

		<Exec
				title="Social Secretary"
				name="Aren"
				pronouns="he/him"
				gh="arenmarsden"
				img="aren.png"
		>
			Hi, I'm Aren and I'm 21 year old Computer Science Student. I'm the Social Secretary of HullCSS.
			I'm fairly focused on DevOps Engineering at the moment, but also interested in Application Security and CyberSecurity..
			In my spare time, you'll find me playing video games or working on personal projects. 
		</Exec>

		<Exec
				title="Webmaster"
				name="Ash"
				pronouns="she/they"
				gh="ash-entwisle"
				img="ash.png"
		>
			Hi, I'm Ash. A second year Computer Science student and your webmaster for this year. 
			Its my job to make sure the website stays up and running. 
			I'm a big fan of Linux, FOSS, Rust and Blue Ikea Sharks <i>(BLÅHAJ my beloved)</i>.
			Feel free to message me on discord if you need a hand with anything.
		</Exec>
	</div>	

	<div class="events" id="events">
		<h2>Recent Events:</h2>

	</div>

	<div class="contact" id="contact">
		<h2>Contact Us</h2>

		<p>
			Wether you are a member, a student, or a company, we would love to hear from you. 
			You can reach us via email <a href="mailto:hullcss@hull.ac.uk">hullcss@hull.ac.uk</a>
			our <a href="">instagram</a> or our <a href="">discord</a>. 

		</p>
	</div>
	
	</div>
	
</Boilerplate>

