---
import SocialButton from "./SocialButton.astro";
---

<h2 id="about">About</h2>
<div class="about">
  <div class="about-l">
    <p>
      if you wish to chat or have any questions or suggestions, feel free to
      reach out to us on our <a href="/links/instagram">Instagram</a> or <a
        href="/links/discord">Discord</a
      >.
    </p>
    <p>
      if you wish to contact us regarding partnerships, sponsorships or general
      inquiries please email us at <a href="/links/email">hullcss</a>. We aim to
      respond to all emails within a working week, if you have not received a
      response within this time please feel free to send us a follow up email.
    </p>
    <p>
      Found a bug? feel free to open an issue or pull request on our <a
        href="https://github.com/hullcss//hullcss-astro">GitHub</a
      > page.
    </p>
  </div>
  <div class="about-r">
    <div class="about-image">
        <img src="/assets/misc/golf.webp" alt="HullCSS Mini-Golf Social">
    </div>
</div>
</div>
