---
import SocialButton from "./SocialButton.astro";

---


<div class="contact">
  <div class="contact-l">
    <h2 id="contact">Contact us</h2>
    <p>
      if you wish to chat or have any questions or suggestions, 
      feel free to reach out to us on our <a href="/links/instagram">Instagram</a> or <a href="/links/discord">Discord</a>. 
    </p>
    <p>
      if you wish to contact us regarding partnerships, sponsorships or general inquiries please email us at <a href="/links/email">hullcss</a>.
      We aim to respond to all emails within a working week, if you have not received a response within this time please feel free to send us a follow up email.
    </p>
    <p>
      Found a bug? feel free to open an issue or pull request on our <a href="https://github.com/hullcss/hullcss-astro">GitHub</a> page. 
    </p>
  </div>
  <div class="contact-r">
    <SocialButton href="/links/instagram" icon="/assets/icons/instagram.svg" text="instagram" id="ig"/>
    <SocialButton href="/links/discord" icon="/assets/icons/discord.svg" text="discord" id="dc"/>
    <SocialButton href="/links/email" icon="assets/icons/email.svg" text="email" id="em"/>
    <SocialButton href="/links/github" icon="assets/icons/github.svg" text="github" id="gh"/>
  </div>
</div>
