---
export interface Props {
    code: string;
}

const { code } = Astro.props;
---

<div class="flex items-center justify-center flex-col">
<div class="w-3/4">
    <h1 class="text-5xl font-bold m-250">Error: { code }</h1>
    <slot />
</div>
</div>
