---
import Exec from "./Exec.astro";
---

<div class="execs">
    <h3 id="execs">Meet the Team:</h3>

    <Exec
        title="President"
        name="Zoe"
        pronouns="she/her"
        gh="zoeelen"
        img="zoe.png"
    >
        lorem
    </Exec>

    <Exec
        title="Secretary"
        name="Will"
        pronouns="he"
        gh=""
        img="will.png"
    >
        Hey! I'm Will and I am a second year computer science student on the year industry course. 
        I am the secretary for this year meaning I will be ensuring that our society communicates well with other societies 
        and opportunities so that fun and memorable events can take place! 
        I hope everyone has a great and if you ever need to reach out you can reach me on the discord :).
    </Exec>

    <Exec
        title="Treasurer"
        name="Alex"
        pronouns="he/him"
        gh="alex8obrien"
        img="alex.png"
    >
        Hi, I'm Alex the treasurer for the 23/24 executive committee. 
        My role is to manage the society finances and ensure we can afford to run fun events throughout the year. 
        In my spare time, I like to work on my personal projects including my website and public libraries. 
        I can't wait to meet you all and enjoy the year with HullCSS.
    </Exec>

    <Exec
        title="Social Secretary"
        name="Aren"
        pronouns="he/him"
        gh="arenmarsden"
        img="aren.png"
    >
        lorem
    </Exec>

    <Exec
        title="Webmaster"
        name="Ash"
        pronouns="she/they"
        gh="ash-entwisle"
        img="ash.png"
    >
        Hi, I'm Ash. A second year Computer Science student and your webmaster for this year. 
        Its my job to make sure the website stays up and running. 
        I'm a big fan of Linux, FOSS, Rust and Blue Ikea Sharks <i>(BLÅHAJ my beloved)</i>.
        Feel free to message me on discord if you need a hand with anything.
    </Exec>

</div>
