@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
    @apply bg-mono_4;
    @apply text-mono_1;

    font-family: 'JetBrains Mono', monospace;
}

* {
    font-family: 'JetBrains Mono', monospace;
}

header {
    // flex column with header-l on left and header-r on right
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    // set height
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;

    // set colors
    @apply bg-mono_5;
    @apply text-mono_1;

    .header-l {
        height: 100%;

        .header-image-1 {
            display: block;
        }

        .header-image-2 {
            display: none;
        }

        // if screen is less than 800px, hide image 1 and show image 2
        @media only screen and (max-width: 800px) {
            .header-image-1 {
                display: none;
            }

            .header-image-2 {
                display: block;
            }
        }

        img {
            height: 90%;
            width: 90%;

            &:hover {
                transition: 0.125s ease-in-out;
                transform: scale(1.05);
            }

            &:not(:hover) {
                transition: 0.125s ease-in-out;
                transform: scale(1);
            }
        }   
    }

    // if screen is less than 600px hide header-l
    @media only screen and (max-width: 600px) {
        .header-l {
            display: none;
        }
    }


    .header-r {
        // flex links in col
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-left: 15px;
        margin-right: 15px;

        a {
            padding-left: 25px;

            line-height: 25px;


            &:hover {
                text-decoration: underline;
                transition: 0.125s ease-in-out;    
                font-weight: bolder;

                //increase font size
                font-size: larger;

                @apply text-hue_4a;
            }

            &:not(:hover) {
                font-size: large;
                text-decoration: none;
                font-weight: normal;
                
                transition: 0.125s ease-in-out;    

                @apply text-mono_1;
            }
        }
    }

    // if screen is less than 600px, center header-r and max width
    @media only screen and (max-width: 600px) {
        .header-r {
            justify-content: center;
            width: 100vw;
            margin: 0px;

            a {
                font-size: large;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

}

main {
    // add 10% padding to l and r
    padding-left: 10%;
    padding-right: 10%;

    max-width: 1500px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;

    // if screen is greater than 1500, set max width to 1750
    @media only screen and (min-width: 1500px) {
        max-width: 1750px;
    }

    // if screen is greater than 1750, set max width to 2000
    @media only screen and (min-width: 1750px) {
        max-width: 2000px;
    }

    .about {
        display: flex;
        flex-direction: row;

        .about-l {
            width: 55%;

            p {
                max-width: 750px;
            }
        }

        .about-r {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 45%;

            .about-image {
                // center image;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

                img {

                    width: 90%;
                    min-width: 300px;
                }
            
            }
        }

        // if less than 1000, flex about in col
        @media only screen and (max-width: 1000px) {
            flex-direction: column;

            .about-l {
                width: 100%;
            }

            .about-r {
                width: 100%;
            }
        }
    }

    .execs {
        display: flex;
        flex-direction: column;

        .exec {
            display: flex;
            flex-direction: row;

            padding-bottom: 25px;

            i {
                font-size: medium;
            }


            .exec-pfp {
                // center image;
                justify-content: center;
                align-items: center;
            }

            img {

                box-sizing: border-box;

                margin-right: 25px;
                border-radius: 20px;

                min-height: 175px;
                min-width: 175px;

                max-width: 175px;
                max-height: 175px;
            }

            // if less than 800, hide exec-pfp
            @media only screen and (max-width: 800px) {
                .exec-pfp {
                    display: none;
                }
            }
        }

    }

    .contact {
        display: flex;
        flex-direction: row;

        .contact-l {
            width: 60%;

            p {
                max-width: 750px;
            }
        }

        .contact-r {
            // flex buttons in col
            // center all buttons
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            width: 40%;
            margin-top: 50px;

            #instagram {
                &:hover {
                    @apply border-hue_5a;
                }
            }

            #discord {
                &:hover {
                    @apply border-hue_2a;
                }
            }

            #email {
                &:hover {
                    @apply border-hue_4a;
                }
            }

            #github {
                &:hover {
                    @apply border-hue_3a;
                }
            }

            .social-button {
                width: 300px;

                border: 2.5px solid;
                
                // add padding
                padding: 10px;

                // add margin
                margin-top: 10px;
                margin-bottom: 10px;

                // set bg color
                @apply bg-mono_5;

                .social-button-span {
                    width: 45%;


                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                }
            
                a {
                    // flex row, center all items in row add space between
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    gap: 15px;
                    margin-left: 25%;
                    @apply text-mono_1;
                }

                img {

                    // set width and height
                    width: 25px;
                    height: 25px;

                    // set svg color


                    &:hover {
                        transform: scale(1);
                        border-radius: 0px;
                    }
                    &:not(:hover) {
                        transform: scale(1);
                        border-radius: 0px;
                    }
                }

                &:hover {
                    transition: 0.2s ease-in-out;
                    transform: scale(1.05);
                    border-radius: 10px;
                }
        
                // on not hover, transition back to normal
                &:not(:hover) {
                    transition: 0.1s ease-in-out;
                    transform: scale(1);
                    border-radius: 15px;

                    @apply border-mono_5;
                }
            }
        }

        // if less than 800, flex contact in col
        @media only screen and (max-width: 1000px) {
            flex-direction: column;

            .contact-l {
                width: 100%;
            }

            .contact-r {
                width: 100%;
            }
        }

        // if screen greater than 1500, increase width of contact-r
        @media only screen and (min-width: 1500px) {
            .contact-l {
                width: 50%;
            }
            .contact-r {
                width: 50%;
            }
        }
    }
    

    a {
        &:hover {
            text-decoration: underline;

            transition: 0.125s ease-in-out;

            @apply text-hue_4b;
        }

        &:not(:hover) {
            text-decoration: none;

            transition: 0.125s ease-in-out;

            @apply text-hue_4a;
        }
    }

    p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: xx-large;
        font-weight: bold;
        text-decoration: underline;

        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: x-large;
        font-weight: bold;
        text-decoration: underline;

        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h4 {
        margin: 0px;
        margin-bottom: 10px;

        font-size: larger;
    }

    code {
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        padding-left: 3.5px;
        padding-right: 3.5px;

        border-radius: 5px;

        @apply bg-mono_5;

    }

    img {
        &:hover {
            transition: 0.2s ease-in-out;
            transform: scale(1.05);
            border-radius: 10px;
        }

        // on not hover, transition back to normal
        &:not(:hover) {
            transition: 0.1s ease-in-out;
            transform: scale(1);
            border-radius: 20px;
        }
    }

}

markdown {
    height: fit-content;
    
    h1 {
        margin: 10px;

        @apply text-3xl;
        @apply font-bold;
    }

    h2 {
        margin: 10px;

        @apply text-2xl;
        @apply font-bold;
    }

    h3 {
        margin: 10px;

        @apply text-xl;
        @apply font-bold;
    }

    h4 {
        margin: 10px;

        @apply text-lg;
        @apply font-bold;
    }

    p {
        margin: 10px;
        margin-top: 25px;
        margin-bottom: 25px;

    }

    ul {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    ol {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    li {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;

        list-style-type: disc;

    }
}

footer {

}