@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    @apply bg-mono_5;
    @apply text-mono_1;

    font-family: 'JetBrains Mono', monospace;
}

header {

}

main {
    a {
        text-decoration: none;

        @apply text-hue_4a;

        &:hover {
            text-decoration: underline;

            @apply text-hue_4b;
        }
    }

    p {
        margin: 15px;
    }

    h1 {
        margin: 15px;
    }

    code {
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        padding-left: 3.5px;
        padding-right: 3.5px;

        border-radius: 5px;

        @apply bg-mono_6;

    }

}

markdown {
    height: fit-content;
    
    h1 {
        margin: 10px;

        @apply text-4xl;
        @apply font-bold;
    }

    h2 {
        margin: 10px;

        @apply text-3xl;
        @apply font-bold;
    }

    h3 {
        margin: 10px;

        @apply text-2xl;
        @apply font-bold;
    }

    h4 {
        margin: 10px;

        @apply text-xl;
        @apply font-bold;
    }

    p {
        margin: 10px;
        margin-top: 25px;
        margin-bottom: 25px;

        @apply text-lg;
    }

    ul {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        @apply text-lg;
    }

    ol {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        @apply text-lg;
    }

    li {
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;

        list-style-type: disc;

        @apply text-lg;
    }
}

footer {

}