---
import Header from "../components/compound/Header.astro";
import Footer from "../components/compound/Footer.astro";

import "../styles/main.scss";
//import "../styles.scss";

export interface Props {
  title: string;
  description: string;
  keywords: string[];
  header: boolean;
  footer: boolean;
}

const props = Astro.props;

const keywordsString = props.keywords.join(" ");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ash Entwisle" />
    <meta name="description" content={props.description} />
    <meta name="keywords" content={keywordsString} />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#98c379" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="/" crossorigin />
    <link rel="preconnect" href="https://cdn.hullcss.com" crossorigin />
    <title>{props.title}</title>
  </head>
  <body>
    {
      props.header ? 
        <Header 
          icon="/logo.svg"
          title="" 
        /> 
        : ""
    }
    <main>
      <slot />
    </main>
    {
      props.footer ? 
        <Footer /> 
        : ""
    }
    <script>
       if ("serviceWorker" in navigator) {
         window.addEventListener("load", () => {
           navigator.serviceWorker.register("/sw.js");
        });
      }
    </script>
  </body>
</html>
