---
import Error from "./Error.astro";
---

<Error code="501" title="Page not Implemented">
  Sorry, the page `<code>{Astro.url}</code>` is currently under construction.
  Click <a href="/">here</a> to go back to the homepage.
</Error>
